@import "tailwindcss";

html {
  overflow-x: hidden;
}
.scroll-section {
  min-height: 100vh;
}
.backface-hidden {
  backface-visibility: hidden;
}
@supports (height: 100svh) {
  .scroll-section {
    min-height: 100svh;
  }
}
@font-face {
  font-family: "Alcantera";
  src: url("./assets/fonts/Alcantera-Script.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: "EBGaramond";
  src: url("./assets/fonts/EBGaramond-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Fanttor";
  src: url("./assets/fonts/Fanttor-Howery-Serif-BF651faf207a4a7.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@theme{
  --font-alcantera: "Alcantera", cursive;
  --font-ebgaramond: "EBGaramond", serif;
  --font-fanttor: "Fanttor", serif;
}